body{

    background:#e3f2fd;

    font-family:Arial, sans-serif;

}

.weather-card{

    max-width:500px;

    margin:auto;

    border-radius:20px;

    transition:0.3s;

}

.weather-card:hover{

    transform:scale(1.02);

}

input{

    height:50px;

}

button{

    height:50px;

    font-weight:bold;

}

#weatherIcon{

    width:120px;

}

#result{

    margin-top:20px;

}

.list-group{

    margin-top:15px;

}

.dark{

    background:#121212;

    color:white;

}

.dark .card{

    background:#1f1f1f;

    color:white;

}

.dark input{

    background:#2d2d2d;

    color:white;

}

.dark button{

    border:none;

}